@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p><a href="https://www.linkedin.com/profile/view?id=359308183&trk=nav_responsive_tab_profile">Trish DeLozier</a>
   <br />
    Computer technology enthusiast! In her spare time, she enjoys exercising, long bike rides, various crafting activities, and computer programming.
</p>

<p><a href="https://www.linkedin.com/profile/view?id=38744053&authType=OUT_OF_NETWORK&authToken=onaN&locale=en_US&trk=tyah2&trkInfo=tarId%3A1406910718518%2Ctas%3Astephan%2Cidx%3A1-1-1">Stephanie Rankin</a><br />
Prospective software developer who enjoys golf, tennis, computer languages, web design, new technology, working out, and watching sporting events.
</p>

<p><a href="https://www.linkedin.com/profile/view?id=203936266&authType=OUT_OF_NETWORK&authToken=3AeV&locale=en_US&trk=tyah2&trkInfo=tarId%3A1406910813533%2Ctas%3Adavid%20%2Cidx%3A1-1-1">David Roe</a><br />
 Sr. Systems Analyst and Database Administrator with 30 years of IT Experience.
</p>

<p><a href="https://www.linkedin.com/profile/view?id=167187185&authType=OUT_OF_NETWORK&authToken=RkFD&locale=en_US&trk=tyah2&trkInfo=tarId%3A1406910940217%2Ctas%3Amichael%2Cidx%3A2-1-2">Michael Werner</a><br />
Application developer student who is a fun loving head of a family of four!
He loves his career and his hobbies include boating and classic car restoration.
</p>