@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Recipe Book</h1>
    <p class="lead">The best place to store and manage all of your recipes!</p>
    <p><a class="btn btn-info btn-lg">Create a Recipe &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            
        </p>
        <p><a class="btn btn-success">View All Recipes &raquo;</a></p>
        <img src="~/Images/fruitsandveggies.jpg" />
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
    </div>
    
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-warning">View All Meat Dishes &raquo;</a></p>
        <img src="~/Images/meat.png" />
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-danger">Create Side Dishes &raquo;</a></p>
        <img src="~/Images/potatoes.jpg"/>
    </div>
</div>