@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Recipe Book</h1>
    <p class="lead">The best place to store and manage all of your recipes!</p><br/>
    Recipe Book allows you to create, store and edit your recipes all in one place!<br/>
    Get started now: <br/><br/>
    <p><a class="btn btn-info btn-lg" href="/Recipe/Create">Create a Recipe &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            
        </p>
        <p><a class="btn btn-success" href="/Recipe/Index">View All Recipes &raquo;</a></p>
        <img src="~/Images/fruitsandveggies.jpg" />
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
    </div>
    
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-warning" href="/Recipe/Create">Create Meat Dishes &raquo;</a></p>
        <img src="~/Images/meats.png" />
    </div>
    </div>
<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-danger" href="/Recipe/Create">Create Side Dishes &raquo;</a></p>
        <img src="~/Images/potatoes.jpg"/>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-success" href="/Recipe/Create">Create Dessert Recipes &raquo;</a></p>
        <img src="~/Images/cake.jpg" />
    </div>
</div>